@font-face {
    font-family: "Space Mono";
    src: url('resources/Space_Mono/SpaceMono-Regular.ttf') format('truetype'),
    url('resources/Space_Mono/SpaceMono-Bold.ttf') format('truetype'), 
    url('resources/Space_Mono/SpaceMono-Italic.ttf') format('truetype'),
    url('resources/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
}

body{
    font-family: "Space Mono", monospace, sans-serif;
    background-color: #232323;
    text-align: center;
    color: #fff
}

a:hover{
    transition-duration: 0.5s;
}

.container{
    padding-top: 5%;
    justify-content: center;
    align-items: center;
}

.row{
    justify-content: center;
    align-items: center;
    /* Add position relative to contain absolute positioning */
    position: relative;
}

.row .row a{
    text-decoration: none;
    align-self: center;
}

.col-sm-1 a{
    text-decoration: none;
    color: #fff;
}

.col-sm-1 a:hover{
    text-decoration: none;
    color: #ff8800;
}

#github2, #linkedin2, #email2, #resume2{
    display: none
}

#github:hover ~ .row #github2, #linkedin:hover ~ .row #linkedin2, #email:hover ~ .row #email2, #resume:hover ~ .row #resume2, 
#github2:hover, #linkedin2:hover, #email2:hover, #resume2:hover{
    display: block;
    height: 25px;
    width: fit-content;
    background-color: white;
    color: #0077FF;
    overflow: hidden;
    position: absolute;
    top: 0px; 
    z-index: 10;
}

.portrait{
    height: auto;
    max-width: 250px;
    border: 2px solid white;
    margin: 25px;
}

.name{
    font-size: 48px;
    padding: 0px;
    margin-bottom: 20px;
}

.description{
    font-size: 24px;
    color: #919191;
    margin-bottom: 30px;
}

.bi{
    font-size: 24px;
}

.page a{
    font-size: 24px;
    text-decoration: none;
    color: #ff8800;
}

.page a:hover{
    color: #0077FF;
}

.copy{
    font-size: small;
}

.bio{
    max-width: 500px;
    font-size: 18px;
    text-align: left;
    margin: 25px 0;
}

.bio a{
    text-decoration: none;
    color:#ff8800;
    padding: 0px;
}

.bio a:hover{
    color:#0077FF;
    transition-duration: 0.5s;
}

.nav a{
    text-decoration: none;
    font-size: 22px;
    color: #ff8800;
}

.nav a:hover{
    color: #0077FF;
    transition-duration: 0.3s;
}